# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Sun Feb 02 03:16:04 PST 2014
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=3000
